@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2B2D42;
}

@font-face {
  font-family: "Shabnam";
  src: url("/fonts/Shabnam.woff2") format("woff2"),
       url("/fonts/Shabnam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Shabnam", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes marquee-rtl {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-rtl {
  animation: marquee-rtl 15s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1931;
    --foreground: #ededed;
  }
}
