@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2B2D42;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1931;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Shabnam";
  src: url("/fonts/Shabnam.woff2") format("woff2"),
       url("/fonts/Shabnam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* مهم: رنگ رو از همون لحظه اول به html بده */
html {
  background-color: var(--background);
  color: var(--foreground);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Shabnam", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* انیمیشن‌ها */
@keyframes marquee-rtl {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-rtl {
  animation: marquee-rtl 15s linear infinite;
}
